body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

/*ヘッダ*/
#header-inside {
  max-width: 728px;
  margin: 16px auto;
}

.blog-title {
  display: inline;
  margin-left: 16px;
  font-size: 1.6em;
}

.blog-title a {
  color: #333;
}
.blog-title a:hover {
  color: #aaa;
}

.blog-description {
  display: inline;
  font-size: 100%;
  font-weight: normal;
}

/*メニューバー*/
.togmenu {
  display: none;
}

.menubtn {
  display: inline;
  float: right;
  padding: 8px 10px;
  margin: 0 16px 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #aaa;
}

#menu {
  margin-top: 12px;
}
#menu ul {
  margin: 0;
  padding: 0;
}

#menu li {
  list-style: none;
}

#menu li a {
  padding: 16px 20px;
  display: block;
}

/*メイン*/
#main {
  clear: both;
  max-width: 728px;
  margin: 16px auto 0;
  padding: 0 16px;
}

/* article */
.article-line {
  margin: 24px auto 36px;
  padding: 0;
  width: 100px;
  border: none;
  border-top: 2px solid #ddd;
}

.entry-header {
  font-size: 0.9em;
  margin-bottom: 8px;
}

h1.entry-title {
  margin: 0;
  font-size: 140%;
}

.entry-title a {
  color: #333;
}

.entry-title a:hover {
  color: #aaa;
}

.entry-content a {
  color: #4078c0;
}
.entry-content a:hover {
  color: #336099;
}

.entry-content blockquote {
  width: 90%;
  margin: 0 auto 10px;
  padding: 5px 10px;
  border-left: 3px #ddd solid;
}

.entry-content blockquote cite {
  text-align: right;
  display: block;
}

.entry-content p {
  margin: 1em 0;
}

.entry-content ul {
  padding-left: 20px;
}

.entry-content hr {
  border: 0;
  border-top: 2px dotted #aaa;
}

.entry-content pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  color: #fff;
  background-color: #444;
  padding: 10px;
}

.yt_wrapper {
  max-width: 640px;
  min-width: 280px;
  margin: 20px auto;
  border: 1px solid #aaa;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.entry-content .linkbox {
  max-width: 480px;
  padding: 5px 10px;
  margin: 10px 0px;
  border: solid 1px #E1E8ED;
  border-radius: 5px;
}

.entry-content .linkbox hr {
  margin: 5px 0;
  border-top: 1px solid #E1E8ED;
  border-bottom: none;
}

.entry-content .kt {
  font-size: 90%;
  background-color: #3FBAB0;
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
}

.photo-post {
  text-align: center;
  margin: 0 auto;
}

/* AppHtml */
.AppHtml {
  max-width:650px;
  margin: 20px auto;
  padding: 15px 10px;
  text-align: center;
}

.appIconImg {
  width: 100px;
  margin: 0 auto;
  border-radius: 20px 20px 20px 20px !important;
  -moz-border-radius: 20px 20px 20px 20px !important;
  -webkit-border-radius: 20px 20px 20px 20px !important;
}

.appTitle {
  font-size: 120%;
}

.appPrice,
.appCat {
  font-size: 80%;
}

.appBtn {
  max-width: 300px;
  margin: 0 auto;
}

.appBtn a {
  display:block;
  color:#ffffff;
  font-size: 100%;
  background-color: #aaa;
  text-decoration:none;
  border-radius: 4px;
  margin:10px 0 0 0;
  padding: 10px;
}

.appBtn a:hover{
  color: #fff;
  background-color: #333;
}

/*tooltip*/
#tooltip {
  font-size: 13px;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 4px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #111;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}

a[rel="tooltip"]:after {
  font-family: 'FontAwesome';
  content: '\f0e5';
  margin: 0 3px;
}

/*toc*/
#toc {
  border: 1px #aaa solid;
  padding: 5px 10px 0;
  max-width: 330px;
  font-size: 95%;
}

.video_wrapper {
  max-width: 640px;
  min-width: 280px;
  margin: 20px auto;
  border: 1px solid #aaa;
}

.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.read-content a {
  display: block;
  text-align: center;
  max-width: 320px;
  padding: 8px;
  border: 1px solid #aaa;
}

.read-content a:hover {
  color: #aaa;
  border-color: #aaa;
}

.rebloggedfrom {
  font-size: 0.9em;
}

.content-source{
  font-size: 0.9em;
}

.entry-footer {
  font-size: 0.9em;
}

.reaction {
  margin: 8px 0;
}

.like-and-reblog-buttons {
  margin: 8px 8px 8px 0;
}

.reblog_button {
  float: left;
  margin-right: 8px;
}

.like_button {
  float: left;
}

/*hatenastar*/
.hatena-star-comment-container {
  display: none;
}

.hatena-star-star-container {
  margin-left: 8px;
}

.hatena-star-add-button-image {
  background-image: url(//akio6o6.github.io/hatenastar.png);
}

.meta-data {
  clear: left;
}

.notecontainer {
  display: none;
}

.notes {
  margin: 4px 0;
  padding: 0;
  list-style: none;
}

.notes li {
  border-bottom: 1px solid #aaa;
  padding: 4px 0;
}

.sns, .ramdom {
  clear: both;
  margin: 16px auto;
  max-width: 300px;
}

.sns {
  width: 100%;
  height: 3em;
}

.sns a {
  text-align: center;
  width: 30%;
  display: inline-block;
  color: #fff;
  font-size: 100%;
  border-radius: 4px;
  padding: 8px 0;
  text-decoration: none;
  float: left;
}

.sns a:hover {
  color: #fff;
}

.share-twitter a {
  background-color: #00ACEE;
  margin-right: 5%;
}

.share-hatebu a {
  background-color: #008FDE;
}

.share-fb a {
  background-color: #3B5999;
  float: right;
}

.share-twitter a:hover {
  background-color: #0087bb;
}

.share-hatebu a:hover {
  background-color: #006eab;
}

.share-fb a:hover {
  background-color: #2f477a;
}

.ramdom a {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  border-radius: 4px;
  text-decoration: none;
}

.ad {
  margin: 16px auto;
  max-width: 300px;
}

/* ページャ */
.pagenation-pagenation-permalink {
  max-width: 728px;
  padding: 0 4px 16px;
  margin: 0 auto;
}

.pagenation-pagenation-index {
  text-align: center;
  margin: 32px 0;
  font-size: 0.8em;
}

span .previous {
  float: right;
}

.pagenation-pagenation-index a {
  background-color: #aaa;
  color: #fff;
  padding: 8px;
}

.pagenation-pagenation-index a:hover {
  background-color: #333;
  color: #fff;
}

.current-page {
  background-color: #333;
  color: #fff;
  padding: 8px;
}

/* フッタ */
#footer {
  border-top: 1px solid #aaa;
}

#footer-inside {
  max-width: 728px;
  margin: 16px auto;
}

.footer-box {
  padding: 0 8px;
  max-width: 95%;
}

img.profile-icon {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px #aaa solid;
}

.sfm input {
  margin-top: 8px;
  padding: 4px 8px;
  background-color: #fff;
  border: 1px #aaa solid;
  border-radius: 4px;
  font-size: 90%;
  color: #999;
}

#sf {
  width: 220px;
  color: #333;
}

.copyright {
  text-align: center;
  font-size: 80%;
}

/*page-top*/

#page-top {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  right: 5px;
  bottom: 30px;
}

#page-top p {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #aaa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.3;
}

#page-top p:hover {
  opacity: 1;
}

#move-page-top {
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* @media PC */
@media only screen and (min-width: 800px) {

  main {
    padding: 0;
  }

  .blog-title {
    margin-left: 0px;
  }
	/* メニューバー */
  .menubtn {
    display: none;
  }

  .togmenu {
    float: right;
  }

  .togmenu, .togmenu ul {
    display: inline;
  }

  #menu li {
    display: inline-block;
    border: none;
  }

  #menu li a {
    padding: 0;
    margin: 0 10px;
  }
}
